.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: #f5f5f5;
}

.contact-info {
    flex-basis: 40%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    text-align: left;
}

.contact-info h2,
.contact-info p,
.contact-form-container h2,
.form-group label {
    color: #000;
}

.contact-info h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.contact-info p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.address-info {
    margin-bottom: 2rem; 
}

.contact-details p {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.contact-details svg {
    margin-right: 0.5rem;
}

.social-icons a {
    margin-right: 1rem;
    font-size: 1.5rem;
    color: #333;
}

.contact-form-container {
    flex-basis: 55%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    text-align: left;
}

.contact-form-container h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    background-color: #FFC107;
    color: #000;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}
