.ofertas-page {
    background-image: url('../assets/img/home1.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.page-container {
    padding: 20px;
    position: relative;
}

.page-title-container {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}

.page-title-text {
    color: #fff;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    position: relative;
    z-index: 1;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
}
