.tires-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.filter-controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centrar verticalmente */
    margin-bottom: 20px;
}

.product-count {
    text-align: right; /* Alinear a la derecha */
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #fff; /* Color de texto blanco */
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center; /* Centrar las tarjetas individualmente */
}

@media (max-width: 768px) {
    .filter-controls-container {
        flex-direction: column;
        align-items: stretch;
    }
}
