
.vehicle-selector-container {
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

.header {
  display: inline-flex;
  align-items: center;
  background-color: #f9e632;
  padding: 16px 16px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  left: 20px;
}

.step-number {
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  font-weight: bold;
  font-size: 14px;
}

.step-title {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
}

.vehicle-options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 24px;
  background-color: #ffffff;
  padding: 40px 24px 24px 24px;
  border-radius: 16px;
  margin-top: -28px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  border: 1px solid #eee;
}

.vehicle-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 16px;
  border-radius: 12px;
  background-color: #f5f5f5;
  transition: all 0.3s ease-in-out;
  border: 2px solid transparent;
}

.vehicle-option:hover {
  transform: translateY(-5px);
  background-color: #eeeeee;
}

.vehicle-option .icon img {
  width: 64px;
  height: 64px;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.vehicle-option.vehicle-type-car .icon img {
  width: 80px;
  height: 80px;
}


.vehicle-option:hover .icon img {
  transform: scale(1.1);
}

.vehicle-option .text {
  margin-top: 12px;
  font-size: 14px;
  text-align: center;
  color: #333333;
  font-weight: 500;
}

.vehicle-option.selected {
  background-color: #f9e632;
  border: 2px solid #f9e632;
  transform: translateY(-5px);
}

.vehicle-option.selected .icon img {
  transform: scale(1.1);
}

.vehicle-option.selected .text {
  color: black;
  font-weight: 700;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    left: 10px;
    padding: 12px 14px;
  }

  .step-title {
    font-size: 14px;
  }

  .vehicle-options {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 16px;
    padding: 30px 16px 16px 16px;
  }

  .vehicle-option .icon img {
    width: 50px;
    height: 50px;
  }

  .vehicle-option.vehicle-type-car .icon img {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 576px) {
  .vehicle-options {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  .vehicle-option .icon img {
    width: 40px;
    height: 40px;
  }

  .vehicle-option.vehicle-type-car .icon img {
    width: 60px;
    height: 60px;
  }

  .vehicle-option .text {
    font-size: 12px;
  }
}
