
body {
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-image: url('./assets/img/fondo 1.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #000;
}

.App-logo {
  height: 50px;
}

nav a {
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
}

nav a.active {
  background-color: #FFD700;
  color: #000;
  padding: 10px 20px;
  border-radius: 25px;
}

.header-icons {
  display: flex;
  align-items: center;
}

.header-icons img {
  height: 25px;
  margin-left: 20px;
}

.header-icons span {
  margin-left: 20px;
  font-weight: 700;
}

main {
  padding: 50px 20px;
}

.search-container {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 30px;
  max-width: 900px;
  margin: 0 auto;
  color: #000;
}

.main-title {
    font-family: 'Antonio', sans-serif;
    font-size: 5rem;
    color: #fff;
    text-transform: uppercase;
    margin-top: 100px;
    font-weight: 700;
}
